body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.myBox {
  border: 1px solid teal;
  padding: 10px;
  min-height: 300px;
  height: max-content;
  background-color: #f4f4f4;
  border-radius: 10px;
}
.form-control {
  border: 1px solid black !important;
}
.form-select {
  border: 1px solid black !important;
}
